---
import Contactform from '@components/contactform.astro'
import Container from '@components/container.astro'
import Sectionhead from '@components/sectionhead.astro'
import Layout from '@layouts/Layout.astro'
import { Icon } from 'astro-icon/components'
import type { Frontmatter } from '~/config'
import { SiteMetadata } from '~/config'
import coverSVG from '~/assets/hero.png'
import socialImage from '~/assets/hero.png'

const frontmatter: Frontmatter = {
  title: 'Contato' + ' | ' + SiteMetadata.title,
  description: SiteMetadata.description,
  coverSVG: coverSVG,
  socialImage: socialImage,
  publishDate: SiteMetadata.buildTime,
}
---

<Layout frontmatter={frontmatter}>
  <Container>
    <!-- <Sectionhead>
      <Fragment slot="title">Contato</Fragment>
      <Fragment slot="desc">We are a here to help.</Fragment>
    </Sectionhead> -->

    <div class="relative mx-auto mt-16 grid max-w-4xl gap-10 md:grid-cols-2">
      <Icon
        name="duck_outline-r"
        class="absolute -left-1/4 top-1/6 -z-1 min-w-[300px] min-h-[300px] h-[50vmax] w-[50vmax] max-h-[672px] max-w-[672px] fill-text opacity-[3.3%] dark:opacity-[1.3%]"
      />
      <div>
        <h2 class="text-2xl font-medium">Deixe sua mensagem</h2>
        <p class="mt-3 text-lg leading-relaxed text-text/80">
          Quer dar um oi? Tem alguma pergunta? <wbr />É só preencher o
          formulário ao lado.
        </p>
        <div class="mt-5 text-text/80">
          <!-- <div class="mt-2 flex items-center space-x-2">
            <Icon class="h-4 w-4" name="uil:map-marker" />
            <span>1734 Sanfransico, CA 93063</span>
          </div> -->
          <div class="mt-2 flex items-center space-x-2">
            <Icon class="h-4 w-4" name="mdi:email-outline" />
            <a href="mailto:oi@carlosbronze.com.br">oi@carlosbronze.com.br</a>
          </div>
          <!-- <div class="mt-2 flex items-center space-x-2">
            <Icon class="h-4 w-4" name="uil:phone" />
            <a href="tel:+1 (987) 4587 899"> +1 (987) 4587 899</a>
          </div> -->
        </div>
      </div>
      <div>
        <Contactform />
      </div>
    </div>
  </Container>
</Layout>
