@forward "nord";

:root {
  --tw-text-opacity: 1;
  --dark-bg-color: var(--nord0);
  --dark-element-color: var(--nord6);
  --dark-accent-color: var(--nord10);
  --dark-action-color: var(--nord11);
  --light-bg-color: var(--nord6);
  --light-element-color: var(--nord1);
  --light-accent-color: var(--nord10);
  --light-action-color: var(--nord11);
}

:root {
  color-scheme: light;
  --theme-bg-color: var(--light-bg-color);
  --theme-element-color: var(--light-element-color);
  --theme-accent-color: var(--light-accent-color);
  --theme-action-color: var(--light-action-color);
}
:root.dark {
  color-scheme: dark;
  --theme-bg-color: var(--dark-bg-color);
  --theme-element-color: var(--dark-element-color);
  --theme-accent-color: var(--dark-accent-color);
  --theme-action-color: var(--dark-action-color);
}

body {
  background-color: var(--theme-bg-color);
  color: var(--theme-element-color);
}

a svg {
  color: var(--theme-element-color);
  &:hover,
  &:focus,
  &:active {
    color: var(--theme-accent-color);
  }
}
