main {
  @apply max-w-screen-lg mx-auto my-auto px-6;
  height: 100vh;
  h1 {
    font-size: clamp(3.13rem, 3.41vw + 2.27rem, 5rem);
    @apply font-bold;
    margin-top: 20vh;
  }
  p {
    font-size: clamp(1.88rem, 2.27vw + 1.31rem, 3.13rem);
    @apply mt-8;
    margin-top: 1em;
  }
}
