main {
  @apply max-w-screen-lg mx-auto my-auto px-6;
  height: 100vh;
  h1 {
    font-size: clamp(1.5rem, 2.73vw + 0.82rem, 3rem);
    @apply font-bold;
    margin-top: 20vh;
  }
  p {
    font-size: clamp(1rem, 0.91vw + 0.77rem, 1.5rem);
    @apply mt-8;
    margin-top: 1em;
  }
}
