@forward "icons";
@forward "nav";
@forward "main";
@forward "colors";

/* src/styles/styles.scss */

body * {
  line-height: calc(2px + 2ex + 2px);
  font-family: "Nunito", sans-serif;
}

html {
  overflow: hidden;
}

h1,
.toggle {
  display: inline-block;
}
