@forward 'icons';
@forward 'nav';
@forward 'main';
@forward 'colors';
@import '@fontsource/nunito/400.css';
@import '@fontsource/nunito/700.css';
// import "@fontsource/open-sans/500.css"; // Weight 500.

// @use "longshadow";
// h1 {
//   @include longshadow.long-shadow(text, darken(#222222, 5), 50, false, false, left);
//   overflow: hidden;
// }
/* src/styles/styles.scss */
body * {
  line-height: calc(2px + 2ex + 2px);
  font-family: 'Nunito', sans-serif;
}

html {
  overflow: hidden;
}

h1,
.toggle {
  display: inline-block;
}
