---
import Container from '@components/container.astro'
import Layout from '@layouts/Layout.astro'
import type { Frontmatter } from '~/config'
import { SiteMetadata } from '~/config'
import coverSVG from '../assets/hero.png'
import socialImage from '../assets/hero.png'

const frontmatter: Frontmatter = {
  title: '404 Not Found',
  description: SiteMetadata.description,
  coverSVG: coverSVG,
  socialImage: socialImage,
  publishDate: SiteMetadata.buildTime,
}
---

<Layout frontmatter={frontmatter}>
  <Container>
    <div class="flex min-h-[calc(100vh-16rem)] items-center justify-center">
      <div class="text-center">
        <h1 class="text-[30vmin] font-bold lg:tracking-tight">404</h1>
        <p class="mt-4 text-lg text-slate-600">Page not found.</p>
      </div>
    </div>
  </Container>
</Layout>
