<section class="h-[630px] w-[1200px]">
  <div class="flex h-full w-full flex-col bg-nord1">
    <div class="flex h-4/5 w-full flex-col justify-center p-10">
      <!-- <div class="w-full text-6xl font-bold leading-snug tracking-tight">
        <p class="text-9xl text-[#e5e9f0]">Carlos Bronze</p>
        <p
          class="bg-gradient-to-r from-[rgb(0_124_240)] to-[rgb(0_223_216)] bg-clip-text text-6xl text-transparent">
          description
        </p>
      </div> -->
      <div
        class="flex w-full flex-col text-6xl font-bold leading-snug tracking-tight text-slate-200">
        <div class="mb-6 text-9xl">title</div>
         description
      </div>
      <!-- <div class="mb-6 text-2xl text-nord5">title</div>
      <div
        class="flex w-full bg-red-400 text-6xl font-bold leading-snug tracking-tight text-transparent"
        style="
        background-clip: text;
        -webkit-background-clip: text;
        background: linear-gradient(90deg, rgb(0, 124, 240), rgb(0, 223, 216));
      ">
        description
      </div> -->
    </div>
    <div
      class="flex h-1/5 w-full items-center justify-between border-t border-zinc-700/50 p-10 text-2xl">
      <div class="flex items-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="40"
          xml:space="preserve"
          class="fill-red-950"
          viewBox="0 0 800 800">
          <path
            d="M410.54 26.001C612.764 31.575 775 197.275 775 400.858c0 167.938-110.402 310.099-262.583 357.858 32.738-17.624 59.655-42.827 78.991-74.735 23.28-38.426 32.564-91.532 22.996-131.827-4.559-19.198-13.195-36.818-23.902-53.025 15.257-29.462 23.878-62.879 23.878-98.271 0-118.21-96.17-214.383-214.377-214.383-4.385 0-8.741.133-13.055.393-3.445-49.104 3.585-104.305 23.592-160.867ZM191.82 712.809C91.237 645.553 25 530.938 25 400.858 25 193.755 192.896 25.855 400.003 25.855c.994 0 1.987.004 2.967.012-11.197 10.851-21.891 21.796-33.22 32.739-41.98 40.545-79.606 81.686-116.438 130.328-47.595 62.872-93.502 136.954-114.293 233.181-26.976 124.915-11.607 225.906 52.801 290.694Z"
          ></path>
          <path
            d="M329.812 206.553c.598-.134.659.274.7.704-11.882 69.282 2.233 131.214 30.19 170.617 28.896 40.704 75.463 65.334 115.152 94.088 19.586 14.183 39.423 31.533 49.847 54.765 11.131 24.787 11.68 60.146 1.41 87.756-17.655 47.486-59.776 80.452-117.259 91.987-34.915 7.013-67.37 3.264-93.38-4.211-79.736-22.914-115.567-95.614-113.052-200.81 1.558-64.557 22.018-117.937 44.945-164.302 17.745-35.873 36.92-67.007 58.98-98.3 7.636-10.835 14.6-21.538 22.467-32.294"
          ></path>
        </svg>
        <span class="ml-3 text-slate-400">carlosbronze.com.br</span>
      </div>
      <div class="flex items-center">
        <div class="h-16 w-16 rounded-full"></div>
        <div class="ml-4 flex flex-col">
          <span class="text-slate-400">Carlos Bronze</span>
          <span class="text-red-950">@carlosbronze</span>
        </div>
      </div>
    </div>
  </div>
</section>
