---
import { Icon } from 'astro-icon'
import Container from '@components/container.astro'
import Link from '@components/ui/link.astro'
import Dropdown from './dropdown.astro'
import { Astronav, MenuItems, MenuIcon } from 'astro-navbar'

const menuitems = [
  {
    title: 'Features',
    path: '#',
    children: [
      { title: 'Action', path: '/' },
      { title: 'Another action', path: '#' },
      { title: 'Dropdown Submenu', path: '#' },
      { title: '404 Page', path: '/404' },
    ],
  },
  {
    title: 'Pricing',
    path: '/pricing',
  },
  {
    title: 'About',
    path: '/about',
  },
  {
    title: 'Blog',
    path: '/blog',
  },
  {
    title: 'Contact',
    path: '/contact',
  },
]
---

<Container>
  <header
    class="my-5 flex flex-col items-center justify-between text-text lg:flex-row">
    <Astronav>
      <div class="flex w-full items-center justify-between lg:w-auto">
        <a href="/" class="text-lg">
          <span class="text-slate-500 dark:text-slate-400">Carlos</span>
          <span class="font-bold text-slate-800 dark:text-slate-200"
            >Bronze</span
          >
        </a>
        <div class="inline-flex lg:hidden">
          <button
            x-data="{ shiftPressed: false }"
            class="inline-flex cursor-pointer pr-4 lg:hidden"
            title="Dark Mode Toggle"
            x-on:click="toggleTheme()"
            rel="nofollow">
            <Icon name="mdi:theme-light-dark" />
          </button>
          <MenuIcon class="h-4 w-4 text-text" />
        </div>
      </div>
      <MenuItems
        class="mt-2 hidden w-full font-semibold ftext-base lg:mt-0 lg:flex lg:w-auto">
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          {
            menuitems.map((item, index) => (
              <>
                {item.children && (
                  <Dropdown
                    title={item.title}
                    children={item.children}
                    lastItem={index === menuitems.length - 1}
                  />
                )}

                {!item.children && (
                  <li>
                    <a
                      href={item.path}
                      class="flex py-2 text-gray-600 hover:text-gray-900 dark:text-gray-300 dark:hover:text-gray-100 lg:px-3">
                      {item.title}
                    </a>
                  </li>
                )}
              </>
            ))
          }
        </ul>
        <div class="mt-3 flex items-center gap-4"></div>
        <div class="mt-3 flex items-center gap-4 lg:hidden">
          {
            /* JS comment syntax is also valid
          <!-- <Link href="#" style="muted" block size="md">Log in</Link>
          <Link href="#" size="md" block>Sign up</Link> -->
           */
          }
        </div>

        <button
          x-data="{ shiftPressed: false }"
          class="hidden cursor-pointer pl-4 lg:block"
          title="Dark Mode Toggle"
          x-on:click="toggleTheme()"
          rel="nofollow">
          <Icon name="mdi:theme-light-dark" />
        </button>
      </MenuItems>
    </Astronav>
  </header>
</Container>

<style lang="scss">
  [astro-icon] {
    @apply h-full w-8 cursor-pointer;
    &:hover,
    &:focus,
    &:active {
      @apply text-primary;
    }
  }
</style>
