---
import Container from '@components/container.astro'
import Link from '@components/ui/link.astro'
import Dropdown from './dropdown.astro'
import { Astronav, MenuItems, MenuIcon } from 'astro-navbar'

const menuitems = [
  {
    title: 'Features',
    path: '#',
    children: [
      { title: 'Action', path: '/' },
      { title: 'Another action', path: '#' },
      { title: 'Dropdown Submenu', path: '#' },
      { title: '404 Page', path: '/404' },
    ],
  },
  {
    title: 'Pricing',
    path: '/pricing',
  },
  {
    title: 'About',
    path: '/about',
  },
  {
    title: 'Blog',
    path: '/blog',
  },
  {
    title: 'Contact',
    path: '/contact',
  },
]
---

<Container>
  <header
    class="flex flex-col lg:flex-row justify-between items-center my-5 text-text">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <a href="/" class="text-lg">
          <span class="text-slate-500 dark:text-slate-400">Carlos</span>
          <span class="font-bold text-slate-800 dark:text-slate-200"
            >Bronze</span
          >
        </a>
        <div class="inline-flex lg:hidden">
          <button
            x-data="{ shiftPressed: false }"
            class="cursor-pointer lg:hidden inline-flex pr-4"
            title="Dark Mode Toggle"
            x-on:click="toggleTheme()"
            rel="nofollow">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              class="hover:text-nord3 dark:hover:text-nord4"
              viewBox="0 0 24 24">
              <path
                fill="currentColor"
                d="M7.5 2c-1.79 1.15-3 3.18-3 5.5s1.21 4.35 3.03 5.5C4.46 13 2 10.54 2 7.5A5.5 5.5 0 0 1 7.5 2m11.57 1.5l1.43 1.43L4.93 20.5L3.5 19.07L19.07 3.5m-6.18 2.43L11.41 5L9.97 6l.42-1.7L9 3.24l1.75-.12l.58-1.65L12 3.1l1.73.03l-1.35 1.13l.51 1.67m-3.3 3.61l-1.16-.73l-1.12.78l.34-1.32l-1.09-.83l1.36-.09l.45-1.29l.51 1.27l1.36.03l-1.05.87l.4 1.31M19 13.5a5.5 5.5 0 0 1-5.5 5.5c-1.22 0-2.35-.4-3.26-1.07l7.69-7.69c.67.91 1.07 2.04 1.07 3.26m-4.4 6.58l2.77-1.15l-.24 3.35l-2.53-2.2m4.33-2.7l1.15-2.77l2.2 2.54l-3.35.23m1.15-4.96l-1.14-2.78l3.34.24l-2.2 2.54M9.63 18.93l2.77 1.15l-2.53 2.19l-.24-3.34Z">
              </path>
            </svg>
          </button>
          <MenuIcon class="w-4 h-4 text-text" />
        </div>
      </div>
      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          {
            menuitems.map((item, index) => (
              <>
                {item.children && (
                  <Dropdown
                    title={item.title}
                    children={item.children}
                    lastItem={index === menuitems.length - 1}
                  />
                )}

                {!item.children && (
                  <li>
                    <a
                      href={item.path}
                      class="flex lg:px-3 py-2 text-gray-600 dark:text-gray-300 dark:hover:text-gray-100 hover:text-gray-900">
                      {item.title}
                    </a>
                  </li>
                )}
              </>
            ))
          }
        </ul>
        <div class="flex items-center mt-3 gap-4"></div>
        <div class="lg:hidden flex items-center mt-3 gap-4">
          <!-- <Link href="#" style="muted" block size="md">Log in</Link>
          <Link href="#" size="md" block>Sign up</Link> -->
        </div>
        <button
          x-data="{ shiftPressed: false }"
          class="cursor-pointer hidden lg:block pl-4"
          title="Dark Mode Toggle"
          x-on:click="toggleTheme()"
          rel="nofollow">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            class="hover:text-nord3 dark:hover:text-nord4"
            viewBox="0 0 24 24">
            <path
              fill="currentColor"
              d="M7.5 2c-1.79 1.15-3 3.18-3 5.5s1.21 4.35 3.03 5.5C4.46 13 2 10.54 2 7.5A5.5 5.5 0 0 1 7.5 2m11.57 1.5l1.43 1.43L4.93 20.5L3.5 19.07L19.07 3.5m-6.18 2.43L11.41 5L9.97 6l.42-1.7L9 3.24l1.75-.12l.58-1.65L12 3.1l1.73.03l-1.35 1.13l.51 1.67m-3.3 3.61l-1.16-.73l-1.12.78l.34-1.32l-1.09-.83l1.36-.09l.45-1.29l.51 1.27l1.36.03l-1.05.87l.4 1.31M19 13.5a5.5 5.5 0 0 1-5.5 5.5c-1.22 0-2.35-.4-3.26-1.07l7.69-7.69c.67.91 1.07 2.04 1.07 3.26m-4.4 6.58l2.77-1.15l-.24 3.35l-2.53-2.2m4.33-2.7l1.15-2.77l2.2 2.54l-3.35.23m1.15-4.96l-1.14-2.78l3.34.24l-2.2 2.54M9.63 18.93l2.77 1.15l-2.53 2.19l-.24-3.34Z">
            </path>
          </svg>
        </button>
      </MenuItems>
    </Astronav>
    <!-- <div>
      <div class="hidden lg:flex items-center gap-4">
        <button
          x-data="{ shiftPressed: false }"
          class="cursor-pointer"
          title="Dark Mode Toggle"
          x-on:click="toggleTheme()"
          rel="nofollow">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            class="hover:text-nord3 dark:hover:text-nord4"
            viewBox="0 0 24 24">
            <path
              fill="currentColor"
              d="M7.5 2c-1.79 1.15-3 3.18-3 5.5s1.21 4.35 3.03 5.5C4.46 13 2 10.54 2 7.5A5.5 5.5 0 0 1 7.5 2m11.57 1.5l1.43 1.43L4.93 20.5L3.5 19.07L19.07 3.5m-6.18 2.43L11.41 5L9.97 6l.42-1.7L9 3.24l1.75-.12l.58-1.65L12 3.1l1.73.03l-1.35 1.13l.51 1.67m-3.3 3.61l-1.16-.73l-1.12.78l.34-1.32l-1.09-.83l1.36-.09l.45-1.29l.51 1.27l1.36.03l-1.05.87l.4 1.31M19 13.5a5.5 5.5 0 0 1-5.5 5.5c-1.22 0-2.35-.4-3.26-1.07l7.69-7.69c.67.91 1.07 2.04 1.07 3.26m-4.4 6.58l2.77-1.15l-.24 3.35l-2.53-2.2m4.33-2.7l1.15-2.77l2.2 2.54l-3.35.23m1.15-4.96l-1.14-2.78l3.34.24l-2.2 2.54M9.63 18.93l2.77 1.15l-2.53 2.19l-.24-3.34Z">
            </path>
          </svg>
        </button>
        <a href="#">Log in</a>
        <Link href="#" size="md">Sign up</Link>
      </div>
    </div> -->
  </header>
</Container>
