---
const { kind, class: className } = Astro.props
let divName, divEnd
kind === undefined ? (divName = 'div') : (divName = kind)
divEnd = '/' + divName
---

<div class:list={['mx-auto max-w-screen-xl px-5', className]}>
  <slot />
</div>
