---
import Button from './ui/button.astro'
---

<div id="emailenviado" class="transform transition-all duration-300 ease-out">
  <form
    method="POST"
    id="form"
    name="Contato"
    class="needs-validation text-gray-800"
    data-no-swup
    data-netlify="true"
    data-netlify-recaptcha="true"
    netlify-honeypot="hpfield"
    novalidate>
    <input class="hidden" name="hpfield" />
    <div class="mb-5">
      <input
        autofocus
        type="text"
        placeholder="Nome"
        required
        class="w-full rounded-md border-2 border-gray-300 px-4 py-3 outline-none ring-gray-100 placeholder:text-gray-800 focus:border-gray-600 focus:ring-4"
        name="name"
      />
      <div class="empty-feedback invalid-feedback mt-1 text-sm text-red-400">
        Por favor preencha seu nome.
      </div>
    </div>
    <div class="mb-5">
      <label for="email_address" class="sr-only">Email</label><input
        id="email_address"
        type="email"
        placeholder="Email"
        name="email"
        required
        class="w-full rounded-md border-2 border-gray-300 px-4 py-3 outline-none ring-gray-100 placeholder:text-gray-800 focus:border-gray-600 focus:ring-4"
      />
      <div class="empty-feedback mt-1 text-sm text-red-400">
        Por favor preencha seu endereço de email.
      </div>
      <div class="invalid-feedback mt-1 text-sm text-red-400">
        Por favor preencha um endereço de email válido.
      </div>
    </div>
    <div class="mb-3">
      <textarea
        name="message"
        required
        placeholder="Mensagem"
        class="h-36 w-full rounded-md border-2 border-gray-300 px-4 py-3 outline-none ring-gray-100 placeholder:text-gray-800 focus:border-gray-600 focus:ring-4"
      ></textarea>
      <div class="empty-feedback invalid-feedback mt-1 text-sm text-red-400">
        Por favor preencha sua mensagem.
      </div>
    </div>
    <div id="recaptcha_invalid" class="mt-1 hidden text-sm text-red-400">
      Por favor complete o reCaptcha abaixo.
    </div>
    <div data-netlify-recaptcha="true" class="p-4"></div>

    <Button type="submit" size="lg" block>Enviar</Button>
    <div id="result" class="mt-3 text-center"></div>
  </form>
</div>
<div
  id="emailsucesso"
  class="scale-0 transform space-y-4 rounded-lg bg-green-100 px-4 py-3 leading-normal text-green-700 opacity-0 transition-all duration-150 ease-out"
  role="alert">
  <p class="font-bold">Obrigado por entrar em contato!</p>
  <p>Seu email já está a caminho!</p>
</div>
<style>
  .invalid-feedback,
  .empty-feedback {
    display: none;
  }

  .was-validated :placeholder-shown:invalid ~ .empty-feedback {
    display: block;
  }

  .was-validated :not(:placeholder-shown):invalid ~ .invalid-feedback {
    display: block;
  }

  .is-invalid,
  .was-validated :invalid {
    border-color: #dc3545;
  }
</style>
<script>
  import '../js/contato.js'
</script>
