---
import Link from './ui/link.astro'
---

<div
  class="mx-auto mt-20 flex max-w-5xl flex-col items-center rounded-lg bg-background-darker p-8 text-center md:px-20 md:py-20">
  <h2 class="text-4xl tracking-tight md:text-6xl">Invista nos seus sites.</h2>
  <p class="mt-4 text-lg text-text text-text/80 md:text-xl">
    Chame quem conhece e gosta de trabalhar com isso.
  </p>
  <div class="mt-5 flex">
    {
      /*
      <!-- <Link href="#" style="inverted">Vamos lá</Link><span class="w-12"></span> -->
      */
    }
    <button class="button rounded">Vamos lá</button>
  </div>
</div>
<style>
  .button {
    position: relative;
    cursor: pointer;
    background-image: linear-gradient(135deg, #f95d2e, #f72c6d);
    color: #fff;
    border-radius: 3px;
    padding: 10px 25px;
    padding-right: 25px;
    font-weight: 400;
    margin: 0;
    background-size: 200% auto;
    background-position: 100% 0;
    transition: all 0.3s ease-out;
    border-bottom: none;
  }
  .button:hover {
    padding-right: 45px;
    background-position: 0 0;
  }
  .button:hover::after {
    opacity: 1;
  }
  .button::after {
    content: '\203A';
    position: absolute;
    top: 7px;
    right: 20px;
    font-size: 28px;
    line-height: 1;
    opacity: 0;
    transition: opacity 0.2s ease-in;
  }
</style>
