---
import { Icon } from 'astro-icon/components'
import Container from '@components/container.astro'
import PhCodeBold from '@assets/PhCodeBold.astro'
---

{
  /* This bitch broke critical before:relative before:top-[0] before:flex before:w-full before:border-t-[1px] before:border-gray-600 before:content-[''] */
}
<footer class="mx-auto my-20 max-w-screen-xl px-5">
  {
    /* Box shadow: horiz vertic blur spread

  0 4px 7px rgba(0, 0, 0, 0.15), 0 100px 80px rgba(255, 255, 255, 0.02), 0 42px 33px rgba(255, 255, 255, 0.024), 0 22px 18px rgba(255, 255, 255, 0.028), 0 12px 10px rgba(255, 255, 255, 0.034), 0 7px 5px rgba(255, 255, 255, 0.04), 0 3px 2px rgba(255, 255, 255, 0.07)

  */
  }
  <hr
    class="color-gray-500 h-[3px] border-t-[1px] border-gray-300 bg-white dark:border-gray-600 dark:bg-gray-700"
  />

  <div class="justify-center py-4 sm:flex sm:items-center sm:justify-between">
    <div class="flex items-center justify-center text-center">
      <span class="inline-flex items-center text-sm text-text">
        <!-- Embed the contents of the `/src/icons/logo.svg` file -->
        <Icon name="phcodebold" class="mr-1 inline-flex h-4 w-4" />
        <!-- <PhCodeBold class="mr-1 inline-flex h-4 w-4" /> -->
        Carlos Bronze {new Date().getFullYear()}
      </span>
      <!--
        <span
          class="ml-2 hidden text-center text-xs text-slate-500/30 lg:block">
          based on <a
            href="https://astro.build/themes/details/astroship/"
            target="_blank"
            rel="noopener"
            class="hover:underline">Astroship</a
          >
           by
          <a
            href="https://web3templates.com"
            target="_blank"
            rel="noopener"
            class="hover:underline">
            Web3Templates
          </a>
        </span>
         -->
    </div>
    <div class="footerlinks mt-4 flex justify-center space-x-5 sm:mt-0">
      <a
        href="https://linkedin.com/in/carlosbronze"
        rel="me"
        title="LinkedIn"
        class="plausible-event-name--footer-linkedin">
        <Icon name="mdi:linkedin" title="LinkedIn" />
      </a>
      <a
        href="https://github.com/bronze"
        rel="me"
        title="GitHub"
        class="plausible-event-name--footer-github">
        <Icon name="mdi:github" title="GitHub" />
      </a>
      <a
        href="https://bsky.app/profile/carlosbronze.bsky.social"
        rel="me"
        title="BlueSky"
        class="plausible-event-name--footer-bluesky">
        <Icon name="simple-icons:bluesky" title="BlueSky" />
      </a>
      <a
        href="https://www.carlosbronze.com.br/onlyfans"
        rel="me"
        title="OnlyFans"
        class="plausible-event-name--footer-onlyfans">
        <Icon name="simple-icons:onlyfans" title="OnlyFans" />
      </a>
      <a
        href="https://docs.google.com/document/d/1QjJRMyWnHIhv6_bAtlz2mGRNnZZw81rjCOGd4ZlmZpY/edit?usp=sharing"
        rel="me"
        title="Resume"
        class="plausible-event-name--footer-resume">
        <Icon name="mdi:document" title="Resume" />
      </a>
    </div>
  </div>
</footer>

<style>
  [data-icon] {
    @apply h-full w-4;
  }

  .footerlinks [data-icon] {
    @apply h-full w-8 cursor-pointer;
    &:hover,
    &:focus,
    &:active {
      @apply text-primary;
    }
  }
</style>
