---
import Container from '@components/container.astro'
// @ts-ignore
import { Icon } from 'astro-icon'
---

<section>
  <Container>
    <div class="mt-24">
      <!-- <h2 class="text-center text-text/80">Foco em:</h2> -->
      <div
        class="mt-10 flex flex-wrap items-center justify-center gap-8 md:gap-20">
        <Icon class="w-8 md:w-12" name="simple-icons:html5" />
        <Icon class="aspect-square w-8 md:w-12" name="simple-icons:css3" />
        <!-- <Icon class="w-8 aspect-square md:w-12" name="simple-icons:react" />
    <Icon class="w-8 aspect-square md:w-12" name="simple-icons:svelte" /> -->
        <Icon
          class="aspect-square w-8 md:w-12"
          name="simple-icons:tailwindcss"
        />
        <Icon
          class="aspect-square w-8 md:w-16"
          name="simple-icons:alpinedotjs"
        />
        <!-- <Icon class="w-8 aspect-square md:w-12" name="simple-icons:vercel" /> -->
        <Icon class="aspect-square w-8 md:w-12" name="simple-icons:astro" />
        <!-- <Icon class="aspect-square w-8 md:w-12" name="simple-icons:eleventy" /> -->
      </div>
    </div>
  </Container>
</section>
