---
import Container from '@components/container.astro'
// @ts-ignore
import { Icon } from 'astro-icon'
---

<section>
  <Container>
    <blockquote class="flex flex-col py-[calc(2vmin+2em)] font-semibold">
      <p class="relative mt-12 pb-4 font-quincy ftext-7xl md:mt-0">
        <!-- <span class="block group-hover:hidden">
        Um bom design &eacute; o m&iacute;nimo de design poss&iacute;vel.
      </span> -->
        <!-- <span class="hidden group-hover:block"> -->
         Good design is as little design as possible.
        <!-- </span> -->
      </p>
      <footer class="mt-4 block max-w-[70%] pb-12 not-italic">
        <span class="mb-1 block text-3xl">Dieter Rams</span>
        <span class="block text-2xl font-light">
          <!-- <span class="block group-hover:hidden">
          Dez Mandamentos de um Bom Design
        </span>
        <span class="hidden group-hover:block"> -->

           Ten Principles of Good design
          <!-- </span> -->
        </span>
      </footer>
    </blockquote>
  </Container>
</section>

<style>
  blockquote {
    --calc: clamp(3.75rem, 1.25rem + 12.5vw, 10.9375rem);
    margin-top: calc(var(--calc) * 1);
    margin-bottom: calc(var(--calc) * 0.6);

    & p {
      &::before {
        position: absolute;
        content: '';
        /* background-image: url('../assets/quotes.svg'); */
        background-size: 100% auto;
        background-repeat: no-repeat;
        width: var(--calc);
        height: calc(var(--calc) * 0.75741);
        top: calc(var(--calc) * -1);
        aspect-ratio: 225.9/171.1;
        mask: url('../assets/quotes.svg') no-repeat;
        left: 0;
        @apply bg-text;
      }
      &::after {
        position: absolute;
        content: '';
        /* background-image: url('../assets/quotes.svg'); */
        background-size: 100% auto;
        background-repeat: no-repeat;
        width: calc(var(--calc));
        height: calc(var(--calc) * 0.75741);
        bottom: calc(var(--calc) * -1);
        aspect-ratio: 225.9/171.1;
        right: 0;
        mask: url('../assets/quotes.svg') no-repeat;
        transform: rotate(180deg);
        mask-size: cover;
        @apply bg-text;
      }
    }
  }
</style>
