@use 'tailwind.scss';
@use 'fonts.scss';

.banner {
  background: #000;
}
body {
  @apply bg-muted text-text;
  padding-right: var(--scrollbarComp);
  overflow-x: hidden;
}
[astro-icon] {
  @apply h-full w-8 cursor-pointer;
  &:hover,
  &:focus,
  &:active {
    @apply text-primary;
  }
}
