@use 'tailwind.scss';
@use 'fonts.scss';
@use 'colors.scss';
html {
  scroll-behavior: smooth;
  // word-break: break-word;
}
::selection {
  color: rgb(var(--color-primary-default));
  background-color: rgb(var(--color-inverted));
}
.banner {
  background: #000;
}
body {
  @apply bg-muted text-text;
  padding-right: var(--scrollbarComp);
  overflow-x: hidden;
}

nav .active {
  @apply text-primary;
}
