@use 'tailwind.css';
@use 'fonts.css';
@use 'transitions.css';
@use 'colors.css';

html {
  @apply scroll-smooth;
  /* // word-break: break-word; */
}
::selection {
  color: rgb(var(--color-primary-default));
  background-color: rgb(var(--color-inverted));
}
body {
  @apply bg-muted text-text;
  padding-right: var(--scrollbarComp);
  overflow-x: hidden;
}
/* https://replit.com/@swupjs/Swup-Demo-Multiple#transitions.css*/
.swup-progress-bar {
  height: 4px;
  background-color: rgb(var(--color-primary-default));
}
nav a[aria-current='page'] {
  @apply text-primary;
  text-decoration: underline;
  text-decoration-thickness: 0.2rem;
  text-underline-offset: 0.5rem;
}

nav ul li {
  /* @apply font-sans; */
  a {
    @apply flex py-2 capitalize text-text hover:text-primary lg:px-3;
  }
}
body.konami {
  background: linear-gradient(
    -45deg,
    #8fbcbb,
    #88c0d0,
    #81a1c1,
    #5e81ac,
    #b48ead
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* // nice padding trick
// padding: calc(4vw + 2em) 0; */
blockquote {
  p {
    text-wrap: balance;
  }
}

button [astro-icon],
button svg {
  @apply cursor-pointer;
  &:hover,
  &:focus,
  &:active {
    @apply text-primary;
  }
}

body.keyboard-navigation a:focus {
  outline: 2px solid;
  @apply outline-primary;
  text-decoration: underline;
}

.skip-link {
  background: #000;
  color: #fff;
  left: 0;
  padding: 0.75em;
  position: fixed;
  opacity: 0;
  top: 0;
  transform: translateY(-10em);
  transition:
    transform 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
}

.skip-link:focus {
  opacity: 1;
  transform: translateY(0em);
  z-index: 999;
}
