---
import "@/styles/starwind.css";
import { Font } from "astro:assets";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<Font cssVariable="--font-geist" preload />
		<Font cssVariable="--font-geist-mono" />
		<title>Astro Basics</title>
		<script is:inline>
			function initTheme() {
				const colorTheme = localStorage.getItem("colorTheme");
				if (!colorTheme) {
					if (window.matchMedia && window.matchMedia("(prefers-color-scheme: dark)").matches) {
						document.documentElement.classList.add("dark");
						localStorage.setItem("colorTheme", "dark");
					} else {
						document.documentElement.classList.remove("dark");
						localStorage.setItem("colorTheme", "light");
					}
				} else {
					if (colorTheme === "dark") {
						document.documentElement.classList.add("dark");
					} else if (colorTheme === "light") {
						document.documentElement.classList.remove("dark");
					} else if (colorTheme === "system") {
						const prefersDark = window.matchMedia("(prefers-color-scheme: dark)").matches;
						document.documentElement.classList.toggle("dark", prefersDark);
					}
				}
			}
			initTheme();
			document.addEventListener("astro:after-swap", initTheme);
		</script>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}

	html {
		scroll-behavior: smooth;
	}
</style>
